@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-blue: #0B3954;
    --light-blue: #BFD7EA;
    --orange: #FF6663;
    --neon: #E0FF4F;
    --white: #FEFFFE;
    --off-white: rgb(234, 234, 234);
    --mid-white: rgb(220, 220, 220);
    --light-box-shadow: rgba(254, 255, 254, 0.3) 0px 0px 100px 50px;
    --dark-box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    --off-blue: rgb(94, 119, 142);
}

html,
body {
    margin: 0;
    padding: 0;
    font: "Roboto", sans-serif;
}

body {
    background: var(--off-white);
    padding: 5%;
}

.dashboardBtn {
    border-radius: 10px;
}

#editTitle {
    color: var(--dark-blue);
    margin: 6px 0 0 5px;
    font-size: 20px;
    margin-top: -90px;
}

#editTitle:hover {
    cursor: pointer;
}

div>.titleContainer {
    display: flex;
    justify-content: center;
}

div>.titleContainer> div>.titleReadOnly {
    margin-top: -90px;
    text-align: center;
    line-height: 35px;
    color: var(--dark-blue);
    font-size: 35px;
}

#titleReadOnlyParent {
    display: flex;
    line-height: 35px;
    width: 100%;
    align-items: center;
}

.titleContainer>.titleInput {
    background: var(--off-white);
    height: 60px;
    margin-top: 10px;
    font-size: 20px;
}

.panel {
    display: flex;
    gap: 2%;
    justify-content: space-between;
}

.panel>* {
    width: 48%;
}

.panel>*:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(var(--off-white), var(--mid-white));
    border-radius: 15px;
    height: fit-content;
    padding: 20px;
    border: 1px solid var(--dark-blue);
}

.panel>*:nth-child(1)>*:nth-child(1)>* {
    text-overflow: ellipsis;
    text-align: center;
}

.panel>*:nth-child(2) {
    background: linear-gradient(var(--off-white), var(--mid-white));
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    justify-content: space-evenly;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
}

.panel>*:nth-child(2)::-webkit-scrollbar {
    display: none;
}

.controlBoard {
    height: max-content;
    width: 80%;
    padding: 80px 10px 10px 10px;
    margin-top: -8vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.controlBoard>.controlBoardBtnBlue {
    background: var(--dark-blue);
    color: var(--white);
    outline: 2px solid var(--white);
    width: fit-content;
    height: max-content;
    text-overflow: ellipsis;
}

.controlBoard>.controlBoardBtnBlue:hover {
    background: var(--white);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
}

.controlBoard>.controlBoardBtnOrange {
    background: var(--orange);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
    height: max-content;
    text-overflow: ellipsis;
}

.controlBoard>.controlBoardBtnOrange:hover {
    background: var(--dark-blue);
    color: var(--orange);
    outline: 2px solid var(--orange);
}

.toggleButtons {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    position: relative;
}

.toggleButtons>.toggleSwitch {
    transform: rotateZ(270deg);
    color: var(--dark-blue);
}

.reactorTileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#graphContainer {
    width: 70%;
    height: 375px;
    align-self: center;
}

#graphContainer2 {
    width: 90%;
    height: 300px;
}

.reactorTileContainer>.reactorTileChild {
    color: var(--dark-blue);
    background: linear-gradient(var(--off-white), var(--mid-white));
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-out;
    max-height: max-content;
    border-radius: 15px;
    width: 90%;
    background: linear-gradient(var(--off-white), var(--mid-white));
    border: 1px solid var(--dark-blue);
}

.reactorTileContainer>.reactorTileChild:hover {
    background: var(--dark-blue);
    color: var(--mid-white);
    cursor: pointer;
    border: 1px solid var(--orange);
}

#logsParent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: linear-gradient(var(--mid-white), var(--off-white));
    width: 48%;
    height: 400px;
    padding: 10px;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    position: relative;
    /* bottom: 00px; */
    margin-top: 10px;
}

#logsContainer {
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid var(--orange);
    /* border-radius: 5%; */
    width: 80%;
    padding: 20px;
    height: max-content;
    min-height: 70%;
    overflow: scroll;
    /* scrollbar-width: none; */
    /* -ms-overflow-style: none; */
}

/* #logsContainer::-webkit-scrollbar {
    display: none;
} */


#closeBtn {
    color: var(--dark-blue);
    font-size: 40px;
    text-shadow: #BFD7EA;
    line-height: 1px;
    position: absolute;
    right: 12px;
    top: -12px;
}

#reactorMainContent {
    background: linear-gradient(var(--off-white), var(--mid-white));
    width: 70%;
    height: max-content;
    border-radius: 15px;
    border: 1px solid var(--dark-blue);
    display: flex;
    flex-direction: column;
    padding: 6%;
}

.reactorActions {
    display: flex;
    flex-direction: column;
    width: 25px;
    justify-content: center;
}

#reactorActionsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.reactorActions>.reactorShutdownBtn:hover {
    background: radial-gradient(ellipse at center, var(--light-blue), transparent),
        radial-gradient(ellipse at bottom, var(--orange), transparent);
    outline: 1px solid var(--dark-blue);
}

.reactorActions:nth-child(2) {
    text-overflow: ellipsis;
    margin-left: 20px;
}

.reactorActions>.reactorShutdownBtn {
    background: radial-gradient(ellipse at center, var(--orange), transparent),
        radial-gradient(ellipse at bottom, var(--dark-blue), transparent);
    outline: 1px solid var(--dark-blue);
    border-radius: 100%;
    height: 70px;
    width: 75px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 50px 15px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: ease-in 0.6s;
}

.rodStateContainer {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.rodStateContainer>.changeRodsBtn {
    background: var(--orange);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
    height: max-content;
    text-overflow: ellipsis;
    transition: 0.6s ease-out;
    margin-top: -5px;
}

#last {
    width: 105px;
}

.rodStateContainer>.changeRodsBtn:hover {
    background: var(--dark-blue);
    outline: 2px solid var(--orange);
    color: var(--white);
}

.rodStateContainer > .rodInputAmount {
    background: var(--white);
    width: 95px;
    height: 35px;
    border: 1px solid var(--orange);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1200px) {
    #titleParent {
        margin-top: 2%;
    }
}

@media screen and (max-width: 1078px) {
    #logsParent {
        bottom: 100px;
    }

    #titleParent {
        margin-top: 2%;
    }
}

@media screen and (max-width: 1085px) {
    #logsParent {
        bottom: 0;
        width: 90%;
    }
}

@media screen and (max-width: 900px) {
    #titleParent {
        margin-top: 3%;
    }
}

@media screen and (max-width: 850px) {
    #titleParent {
        margin-top: 3%;
    }
}

@media screen and (max-width: 775px) {
    #titleParent {
        margin-top: 5%;
    }
}

@media screen and (max-width: 700px) {
    /* #logsParent {
        bottom: 450px;
    } */

    #titleParent {
        margin-top: 8%;
    }
}

@media screen and (max-width: 600px) {
    .panel {
        flex-direction: column;
        align-items: center;
    }

    .panel > * {
        width: 100%;
    }

    .panel > *:nth-child(2) {
        margin-top: 10px;
        width: 100%;
    }

    .controlBoard {
        grid-template-rows: 1fr;
    }

    .controlBoard > * {
        width: 100px;
    }

    .toggleButtons {
        justify-content: space-between;
        margin: 0 -10px;
    }

    #reactorActionsContainer {
        display: grid;
        grid-template-columns: repeat(2, 0.2fr);
        gap: 90px;
        justify-content: center;
        align-items: center;
    }

    #reactorMainContent {
        width: 100%;
    }

    #logsParent {
        bottom: 0;
        width: 99%;
        margin-left: -10px;
    }

    #titleParent {
        margin-top: 15%;
    }
}

@media screen and (max-width: 450px) {
    #titleParent {
        margin-top: 24%;
    }
}