@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
    --dark-blue: #0B3954;
    --light-blue: #BFD7EA;
    --orange: #FF6663;
    --neon: #E0FF4F;
    --white: #FEFFFE;
    --light-box-shadow: rgba(254, 255, 254, 0.3) 0px 0px 100px 50px;
    --dark-box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
    --off-blue: rgb(94, 119, 142);
}

html,
body {
    margin: 0;
    padding: 0;
    font: "Roboto", sans-serif;
}

body {
    background: var(--dark-blue);
}

.dashboardBtn {
    border-radius: 10px;
}

#editTitle {
    color: var(--white);
    position: absolute;
    right: 0;
    bottom: 30px;
}

#editTitle:hover {
    cursor: pointer;

}

div>.titleContainer {
    width: 300px;
    height: 85px;
    box-shadow: var(--light-box-shadow);
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

div>.titleContainer> div>.titleReadOnly {
    margin: 25px 10px 0 10px;
    margin-top: 10px;
    text-align: center;
    line-height: 35px;
    background: transparent;
    color: var(--white);
    font-size: 35px;
}

div>.titleContainer>.titleInput {
    display: flex;
    background: var(--white);
    height: 60px;
    margin-top: 15px;
    border-radius: 4px;
}

.panel {
    display: flex;
    gap: 0;
}

.panel>* {
    width: 33.33333%;
    height: 350px;
}

.panel>*:nth-child(1) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.panel>*:nth-child(1)>*:nth-child(1)>* {
    text-overflow: ellipsis;
    text-align: center;
}

.panel>*:nth-child(2) {
    background: var(--orange);
    display: flex;
    flex-wrap: wrap;
    gap: 3%;
    justify-content: space-evenly;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.panel>*:nth-child(2)::-webkit-scrollbar {
    display: none;
}

.panel>*:nth-child(2)>* {
    width: 45%;
    margin-top: 2%;
}

.panel>*:nth-child(3) {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controlBoard {
    background: var(--neon);
    height: max-content;
    padding: 80px 10px 10px 10px;
    margin-top: -5vh;
    display: grid;
    grid-template-columns: repeat(2, 0.2fr);
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.controlBoard>.controlBoardBtnBlue {
    background: var(--dark-blue);
    color: var(--white);
    outline: 2px solid var(--white);
    width: fit-content;
    height: max-content;
    text-overflow: ellipsis;
}

.controlBoard>.controlBoardBtnBlue:hover {
    background: var(--white);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
}

.controlBoard>.controlBoardBtnOrange {
    background: var(--orange);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
    height: max-content;
    text-overflow: ellipsis;
}

.controlBoard>.controlBoardBtnOrange:hover {
    background: var(--dark-blue);
    color: var(--orange);
    outline: 2px solid var(--orange);
}

.toggleButtons {
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 70px;
}

.toggleButtons>.toggleSwitch {
    transform: rotateZ(270deg);
    color: var(--dark-blue);
}

.reactorTileContainer {
    background: transparent;
}

.reactorTileContainer>.reactorTileChild {
    background: var(--dark-blue);
    color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s ease-out;
    height: 120px;
    max-height: max-content;
}

.reactorTileContainer>.reactorTileChild:hover {
    background: var(--light-blue);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
    cursor: pointer;
}

#logsContainer {
    background: var(--white);
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border: 2px solid var(--orange);
    border-radius: 5%;
    width: 80%;
    padding: 20px;
    height: max-content;
    min-height: 70%;
    overflow: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

#logsContainer::-webkit-scrollbar {
    display: none;
}


#closeBtn {
    color: var(--white);
    font-size: 40px;
    text-shadow: #BFD7EA;
    line-height: 1px;
    position: absolute;
    right: 12px;
    top: -12px;
}

#reactorMainContent {
    background: var(--off-blue);
    width: 70%;
    height: max-content;
    border-radius: 4%;
    display: flex;
    flex-direction: column;
    padding: 6%;
}

.reactorActions {
    display: flex;
    flex-direction: column;
    width: 25px;
    justify-content: center;
}

#reactorActionsContainer {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 90%;
}

.reactorActions>.reactorShutdownBtn:hover {
    background: radial-gradient(ellipse at top, var(--light-blue), transparent),
        radial-gradient(ellipse at bottom, var(--orange), transparent);
    outline: 1px solid var(--dark-blue);
}

.reactorActions:nth-child(2) {
    text-overflow: ellipsis;
    margin-left: 20px;
}

.reactorActions>.reactorShutdownBtn {
    background: radial-gradient(ellipse at top, var(--orange), transparent),
        radial-gradient(ellipse at bottom, var(--dark-blue), transparent);
    outline: 1px solid var(--white);
    border-radius: 100%;
    height: 70px;
    width: 75px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 50px 15px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: ease-in 0.6s;
}

.rodStateContainer {
    display: flex;
    gap: 25px;
    margin-top: 10px;
}

.rodStateContainer>.changeRodsBtn {
    background: var(--orange);
    color: var(--dark-blue);
    outline: 2px solid var(--dark-blue);
    height: max-content;
    text-overflow: ellipsis;
    transition: 0.6s ease-out;
    margin-top: -5px;
}

.rodStateContainer>.changeRodsBtn:hover {
    background: var(--dark-blue);
    outline: 2px solid var(--orange);
    color: var(--white);
}

.rodStateContainer > .rodInputAmount {
    background: var(--white);
    width: 55px;
    height: 25px;
    border: 1px solid var(--orange);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-width: 1050px) {
    .panel>*:nth-child(2)>* {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
    }

    .panel>*:nth-child(2)>* {
        width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .panel {
        flex-direction: column;
        align-items: center;
    }

    .panel > * {
        width: 100%;
    }

    .controlBoard {
        grid-template-rows: 1fr;
    }

    .controlBoard > * {
        width: 100px;
    }

    .toggleButtons {
        justify-content: space-between;
        margin: 0 -10px;
    }

    #reactorActionsContainer {
        display: grid;
        grid-template-columns: repeat(2, 0.2fr);
        gap: 90px;
        justify-content: center;
        align-items: center;
    }

    #reactorMainContent {
        width: 100%;
    }
}